/* _content/CompanyApp.Components.Constituencies/Component1.razor.rz.scp.css */
.my-component[b-s68j6zfzxy] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
