/* _content/CompanyApp.Components.ConstituencyCdf/Component1.razor.rz.scp.css */
.my-component[b-gzpkblk7al] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
